body {
  font-family: Arial, sans-serif;
}

a, a:visited {
  color: #4d4d4d;
  text-decoration: underline;
}

#container {
  width: 940px;
  padding: 5px 0 10px 0;
  margin: auto;
}

#main {
  clear: both;
}

#controls {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.control {
  float: left;
  padding-left: 20px;
}

.control a {
  color: black;
  font-size: 12px;
  padding: 5px;
  background: #E2E2E2;
  cursor: pointer;
  margin-right: 3px;
  text-decoration: none;
}

.control a:hover {
  text-decoration: underline;
}

.control a.active {
  color: white;
  background: #555;
}

p.search_title {
  display: inline;
  text-align: left;
  font-weight: normal;
  color: #777;
}

#search_section {
  padding-top: 23px;
  padding-left: 20px;
}

#search_form #search {
  margin-left: 10px;
}

footer p {
  text-align: center;
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:3px;
  border-radius: 3px;
  border: 1px solid #DDD;
  background-color:rgba(138, 151, 177, 0.3);
  opacity: 1.0;
  color: #0000.5;
  padding: 7px;
  width: 250px;
  font-size: 5px;
  z-index: 120;
}

.tooltip p.main {
/*  font-size: 15px;*/
opacity:1.0;
  text-align: left;
  color: White  ;
  padding:0;
  margin:0;
  font-family: "Courier New", Courier, monospace;

}

hr.tooltip-hr {
  padding:0px 0 0 0;
  margin:3px 0 3px 0;
  border-bottom: 0px;
}

.tooltip .title {
  font-size: 20px;
  line-height: 24px;
}

.tooltip .name {
  font-weight:normal;
}


line.link {
  fill: none;
  stroke-width: 1.5px;
}
